
@{
}

@model Book

<!--this is the partial view for the main html page-->

<div class="card card-outline-primary m-1 p-1">

    <div class="bg-light p-1">
        <h4>@Model.Title</h4>

        <span class="badge bg-info" style="float:right;">
            Price: @Model.Price
        </span>
    </div>



    <ul>
        <li class="fw-bolder">Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>Isbn: @Model.Isbn</li>
        <li>Category: @Model.Category</li>
        <li>Classification: @Model.Classification</li>
        <li>PageCount: @Model.PageCount</li>
        <li>Price: @Model.Price</li>
    </ul>

    <form method="post" asp-page="/Cart">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
    </form>

</div>




