@page
@model Bookstore.Pages.CartModel

@{
}

<!-- This is a Razon Page so it is not connected to a controller -->
<!--This shows the page with my cart-->

<h2> Your cart </h2>

<table class="table table-boardered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <!--This shows the table in my cart-->
    <tbody>
        @foreach (var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>$@i.Book.Price.ToString("#,##0.00")</td>
                <td>$@((i.Quantity * i.Book.Price).ToString("#,##0.00"))</td>

                <td class="text=center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@i.Book.BookId" />
                        <!--Why do we have i and why is this Model-->
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total: </td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Back to Shopping</a>
    <a class="btn btn-primary"  asp-controller="Purchase" asp-action="Checkout">Checkout</a>
</div>

